<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-blue-500 mb-3">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
                <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                   href="/" th:href="@{/}">
                    Game Vendor
                </a>
            </div>
            <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
                <ul class="flex flex-col lg:flex-row list-none ml-auto">
                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#games" th:href="@{/games}">
                            Games
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#genres" th:href="@{/genres}">
                            Genres
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#posts" th:href="@{/posts}">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#forum" th:href="@{/forum/topics}">
                            Forum
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                            href="#login" th:href="@{/login}">
                            Login
                        </a>
                    </li>

                    
                    <li class="nav-item" sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                            href="#signup" th:href="@{/signup}">
                            Signup
                        </a>
                    </li>

                    <li class="nav-item">
                        <!-- Show only when logged in  -->
                        <form th:action="@{/logout}" method="post">
                            <input class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75" type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>