<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-blue-500 mb-3">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
            <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
                <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                   href="/" th:href="@{/}">
                    Game Vendor
                </a>
                <button
                        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
                        type="button">
                    <span class="block relative w-6 h-px rounded-sm bg-white"></span>
                    <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
                    <span class="block relative w-6 h-px rounded-sm bg-white mt-1"></span>
                </button>
            </div>
            <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
                <ul class="flex flex-col lg:flex-row list-none ml-auto">
                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#games" th:href="@{/games}">
                            Games
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#genres" th:href="@{/genres}">
                            Genres
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#posts" th:href="@{/posts}">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                           href="#forum" th:href="@{/forum/topics}">
                            Forum
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                            href="#login" th:href="@{/login}">
                            Login
                        </a>
                    </li>

                    <!-- Signup page is currently being worked on. May not implement this in full version-->
                    <!-- <li class="nav-item">
                        <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
                            href="#signup" th:href="@{/signup}">
                            Signup
                        </a>
                    </li> -->

                    <li class="nav-item">
                        <!-- Show only when logged in  -->
                        <form th:action="@{/logout}" method="post">
                            <input class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75" type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>