<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/header :: header">...</div>
        <div class="text-center">
            <h1 class="text-2xl" th:text="${param.game}">Details not shown for this current title.</h1>
            
            <tr th:each="game : ${games}">
                <!-- child nodes here -->
                <h1 th:text="${game}"></h1>
                <h1 th:text="${param.game}"></h1>
                <h1 th:text="${game.name}"></h1>
                <th:block th:text="${game.name} == ${param.game}">True/False</th:block>
                
            </tr>

            <h1>Summary:</h1>
        </div>
    <div th:replace="fragments/footer :: footer">&copy; 2021 GameVendor</div>
</body>

</html>