<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="flex flex-col h-screen">
        <div th:replace="fragments/header :: header">...</div>
            <main class="p-4 flex-grow text-center">
                <h1 class="text-2xl text-center" th:text="${param.game}">Details not shown for this current title.</h1>
                <tr th:each="game : ${games}" th:if="${game.name} == ${param.game[0]}">
                    <!-- game information goes here -->
                    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
                        <div class="md:flex">
                            <div class="md:flex-shrink-0">
                                <img class="h-48 w-full object-cover md:h-full md:w-48" src="/images/missing-img.jpg"
                                    alt="Man looking at item at a store">
                            </div>
                            <div class="p-8">
                                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Statistics</div>
                                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Information about <span th:text="${param.game}"></span></a>
                                <p class="mt-2 text-gray-500"><span th:text="${param.game}"></span> is a <span th:text="${game.genre}"></span>.</p>
                                <p class="mt-2 text-gray-500">It costs around $<span th:text="${game.price}"></span>.</p>
                                <p class="mt-2 text-gray-500">It is also rated <span th:text="${game.rating}"></span>/10</p>
                                <p class="mt-2 text-gray-500"><span th:text="${param.game}"></span> is available on  <span th:text="${game.operating_system}"></span>.</p>
                            </div>
                        </div>
                    </div>
                </tr>
                    
                <div class="text-center">
                    <div class="grid grid-cols-1 divide-y divide-yellow-500">
                        <div>
                            <h1>Summary:</h1>
                        </div>
                    </div>
                </div>
            </main>
        <div th:replace="fragments/footer :: footer">&copy; 2021 GameVendor</div>
    </div>
</body>

</html>